@import url(https://cdn.jsdelivr.net/gh/realtechnerd/button.css@master/style.min.css);
.Header {
    background: linear-gradient(
        to right,
        #8A2387,
        #f4791f,
        #F27121
    );
    padding: 5px;
    color: #fff;
    font-family: Inter;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.Header h1 {
    display: inline-block;
    padding: 5px;
}
.Header a {
    display: inline-block;
    padding: 5px;
    color: #fff !important;
    text-decoration: none;
}
.MainContent {
    padding: 10px;
    font-family: Inter;
}
.TodoInput {
    padding: 15px;
    border-radius: 1rem;
    background-color: #eee;
}
.TodoInput h1 {
    font-family: Inter !important;
    padding: 0px;
}
#task {
    padding: 10px;
    font-family: Inter;
    outline: none !important;
    border-radius: 7.5px;
    font-size: 15pt;
    border: none;
    background-color: #d3d3d3;
}
.container {
    margin-left: 25%;
    margin-right: 25%;
}
@media only screen and (max-width: 600px) {
    .container {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .Items h1 {
        font-size: 18.8pt;
        text-align: center;
    }
    .Header a {
        display: inline-block;
        padding: 5px;
    }
  }