@import url(https://cdn.jsdelivr.net/gh/realtechnerd/button.css@master/style.min.css);
body {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.Header {
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
  font-family: Inter;
  color: #fff;
  text-align: center;
  padding: 0.1px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 1rem;
}

.Header h1 {
  text-align: center;
}

.MainContent {
  padding: 10px;
  font-family: Inter;
}

.TodoInput {
  padding: 15px;
  border-radius: 1rem;
  background-color: #eee;
}

.TodoInput h1 {
  font-family: Inter !important;
  padding: 0px;
}

#input {
  padding: 10px;
  font-family: Inter;
  outline: none !important;
  border-radius: 7.5px;
  font-size: 15pt;
  border: none;
  background-color: #d3d3d3;
  width: 90%;
}

.container {
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .Items h1 {
    font-size: 18.8pt;
    text-align: center;
  }
  .Items h3 {
    font-size: 18.8pt;
    text-align: center;
  }
  .Header a {
    display: inline-block;
    padding: 5px;
    text-align: center;
  }
  .Header {
    font-size: 13pt;
    text-align: center;
  }
  .Item h3 {
    margin-left: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-align: left;
  }
  .Item:hover {
    background-color: #eee;
    color: #000;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .lgbdanger:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .lgbdanger:active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.Item {
  background-color: #eee;
  padding: 5px;
  border-radius: 1rem;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Item:hover {
  background-color: lightcoral;
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.Item:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Item h2 {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

#msg {
  margin-top: 5px;
  margin-left: 5px;
}

#e {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  font-weight: 400;
  font-family: Inter;
}

#due {
  margin-bottom: -18px !important;
  margin-top: 0px !important;
  margin-left: 2.5px;
}

.v {
  color: grey;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
  .TodoInput {
    background-color: #333;
    color: #fff;
  }
  #input {
    background-color: #000;
    color: #fff;
  }
  .Header h1 {
    color: #333;
  }
  .Item {
    background-color: #333;
    color: #fff;
  }
  .Item:hover {
    background-color: #1c1c1c;
  }
}
/*# sourceMappingURL=style.css.map */